In [1]:
from src.libs.lib import *
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

Hash numérica de 5 dígitos: 94799

In [2]:
dfs = load_data_db()
#42.5s

Conexão estabelecida com sucesso!

In [3]:
dfs["timeline"].columns = ['ID do contrato', 'Nome do evento ocorrido no contrato', 'data do evento', 'Data da criação do contrato',
       'Data de inicio do contrato', 'tipo de contrato']


mask = dfs["timeline"]['Nome do evento ocorrido no contrato'] == "freight_completed"
dfs["timeline"].loc[mask, "data do evento"] = dfs["timeline"].loc[mask, 'Data de inicio do contrato']

In [4]:
dfs["timeline"].head()

,ID do contrato,Nome do evento ocorrido no contrato,data do evento,Data da criação do contrato,Data de inicio do contrato,tipo de contrato
0,4,freight_created,2019-07-29 22:40:00,2019-07-29 22:40:00,2019-07-30 22:39:18,Diária
1,4,freight_start_at,2019-07-30 22:39:18,2019-07-29 22:40:00,2019-07-30 22:39:18,Diária
2,5,freight_start_at,2021-05-24 08:00:00,2021-05-28 16:58:25,2021-05-24 08:00:00,Diária
3,5,freight_created,2021-05-28 16:58:25,2021-05-28 16:58:25,2021-05-24 08:00:00,Diária
4,19,freight_created,2019-12-06 14:33:52,2019-12-06 14:33:52,2019-12-09 14:33:10,Diária

In [11]:
lista = [
        'freight_completed',
        'start_at_change',
        'canceled']
mask = dfs["timeline"]["Nome do evento ocorrido no contrato"].isin(lista)
df = dfs["timeline"][mask]

In [12]:
df["ID do contrato"].nunique()

154118

In [13]:
df["ID do contrato"].shape

(201592,)

In [6]:
dfs["days"].columns = ['ID do contrato', 'tipo de contrato',  'Quantidade de horas que o contrato sofreu postergação de inicio']

In [7]:
dfs["days"].head()

,ID do contrato,tipo de contrato,Quantidade de horas que o contrato sofreu postergação de inicio
0,121780,Diária,17706960.000000000000
1,118827,Diária,17531640.000000000000
2,109447,Diária,15971352.000000000000
3,113517,Diária,15953808.000000000000
4,108490,Coleta/Entrega,35064.000000000000

In [8]:
dfs["timeline"].to_csv("src/data/timeline.csv", index=False)
dfs["days"].to_csv("src/data/days.csv", index=False)