### Carregamento das libs

In [1]:
from src.libs.lib import *
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

Hash numérica de 5 dígitos: 94799

In [2]:
dfs = load_data_db()
#5.5s

Conexão estabelecida com sucesso!

In [3]:
df_orginal = dfs["usage_statistics_erp"]
display(df_orginal.head())

,mes,qtde_adiantamentos,qtde_ajudas_de_custo,qtde_reembolsos,qtde_creditos,total_transacoes_mes
0,2024-05,12274,74,2840,608,15796
1,2024-06,13239,113,2322,598,16272
2,2024-07,15902,168,3515,758,20343
3,2024-08,16336,103,3385,823,20647
4,2024-09,17394,143,3369,906,21812

In [4]:
df_orginal.to_csv("src/data/usage_statistics_erp.csv")