In [6]:
from src.libs.lib import *
import pandas as pd
import matplotlib.pyplot as plt
dfs = load_data_db()
df = dfs["days_until_first_contract_and_price"]
df = df[df["week"] >= 0]
mask = df["total_contracts_until_week"] <= (df["week"]+1)*7
df = df[mask]
df["retention"] = (df["status"] == "Active").astype(int)

Nome do estudo: 7 - AHA! Moment - Otimização da taxa de retenção
Hash numérica de 5 dígitos: 05259
Execução em: 2025-04-17 17:22:57
Conexão estabelecida com sucesso!

In [7]:
df.dtype()

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [2]:
df.head()

,type,status,driver_id,week,total_contracts_until_week,total_value_until_week,retention
0,Diária,Active,137,7,1,915,1
1,Diária,Churn,868,7,1,2275,0
2,Coleta/Entrega,Active,881,9,1,3120,1
3,Coleta/Entrega,Active,881,10,2,4940,1
4,Coleta/Entrega,Active,881,11,3,5219,1

In [3]:
df.to_csv("src/data/days_until_first_contract_and_price")