In [1]:
from src.libs.lib import *
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
df_original = pd.read_csv("src/data/quantidade_de_motoristas_por_estado_resultados.csv")
df_original["Quantidade de Motoristas"] = df_original["Quantidade de Motoristas"].astype(int)
#2.6s

Hash numérica de 5 dígitos: 94799

In [2]:
df_original.head()

,Unnamed: 0.1,Unnamed: 0,Estado,Quantidade de Motoristas,tier,tier_label
0,0,0,Acre,8,0,Poucos motoristas
1,1,1,Alagoas,273,0,Poucos motoristas
2,2,2,Amapá,8,0,Poucos motoristas
3,3,3,Amazonas,63,0,Poucos motoristas
4,5,5,Ceará,353,0,Poucos motoristas

In [3]:
df = df_original[['Estado', 'Quantidade de Motoristas',
       'tier', 'tier_label']].copy()



texto = "8 - Modelo Estrutura de Estudos - Python Notebook"
hash_5_digitos = gerar_hash_numerica(texto)
nome_tabela_bq = f"{hash_5_digitos}_clustering_state_drivers_quantitative"
print(f"Hash numérica de 5 dígitos: {nome_tabela_bq}")

Hash numérica de 5 dígitos: 94799_clustering_state_drivers_quantitative

In [4]:
insert_into_bigquery(df, table_id=nome_tabela_bq)

Dados inseridos com sucesso na tabela: formal-purpose-354320.datascience.94799_clustering_state_drivers_quantitative