In [1]:
from src.libs.lib import *
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

dfs = load_data_db()
df = dfs[0].dropna(axis=0)

Conex√£o estabelecida com sucesso!

In [2]:
df.head()

   driver_id  rating_weight  rating
0         63       4.941349    5.00
1         64       4.370833    4.12
2         87       4.968966    5.00
3        113       4.976471    4.96
4        137       5.000000    5.00

In [3]:
df.to_csv("src/data/notas-23-abril-2023.csv")