### Carregamento das libs

In [1]:
from src.libs.lib import *
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

Hash numérica de 5 dígitos: 94799

In [2]:
dfs = load_data_db()

Conexão estabelecida com sucesso!

In [3]:
df = dfs["drivers_states"]
df.head()

   driver_id            name
0      17572  Santa Catarina
1      53733           Bahia
2      41648      Pernambuco
3      13509  Santa Catarina
4      12663          Paraná